@inherits LayoutComponentBase

<Header />

<div class="container-fluid">
    <div class="row">
        <SideBar />
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="alert alert-danger" role="alert">
                        😈 A rotten gremlin got us. Sorry!
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </main>
    </div>
</div>

